<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Fevorite</title>
    <link rel="stylesheet" href="../sass/index.scss" />
    <script src="../js/fevorite.js" type="module"></script>
  </head>
  <body>
    <div class="conteiner">
      <a href="../index.html">Home</a>
      <a href="#" class="current-link">Favorite</a>
      <a href="./chekcout.html">Checkout</a>
    </div>
    <ul class="js-list"></ul>
  </body>
</html>
